@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$background-color: #373737;
$border-row: 3px solid orange;
$border-column: 2px solid black;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $background-color;

    .layout {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .game-status {
            color: white;
            margin-bottom: 30px;

            #result {
                margin-top: 15px;
            }
        }

        .game-table {
            background-color: #ffffff;
            width: 350px;
            height: 350px;
            border-radius: 5px;

            .row {
                display: flex;
                border: $border-row;
                border-top: none;
                border-bottom: none;
                height: 33.33%;

                &:first-child {
                    border-top: $border-row; 
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    .column {
                        border-top: $border-column;
                    }
                }

                &:last-child {
                    border-bottom: $border-row;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;

                    .column {
                        border-bottom: $border-column;
                    }
                }

                .column {
                    width: 33.33%;
                    border: $border-column;
                    border-bottom: none;
                    border-right: none;
                    display: grid;
                    place-items: center;
                    font-size: 2.50rem;
                    font-weight: bold;
                    cursor: pointer;

                    &:last-child {
                        border-right: $border-column;
                    }
                }
            }
        }

        .game-actions {
            margin-top: 30px;

            button {
                padding: 10px 15px;
                border-radius: 5px;
                background-color: #ffffff;
                border: $border-row;
                letter-spacing: .05rem;
                text-transform: uppercase;
            }
        }
    }
}